@if (ViewBag.CurrentSortBy == ViewBag.ColumnName && ViewBag.CurrentsortOrder == SortOrderOptions.ASC.ToString())
{
    <th>
        <a href="~/persons/index?searchBy=@(ViewBag.CurrentsearchBy)&searchString=@(ViewBag.CurrentsearchString)&sortBy=@(ViewBag.ColumnName)&sortOrder=@(nameof(SortOrderOptions.DESC))">@(ViewBag.DisplayName)</a>
        <i class="fa-solid fa-sort-up"></i>
    </th>
}
else if (ViewBag.CurrentSortBy == ViewBag.ColumnName && ViewBag.CurrentsortOrder == SortOrderOptions.DESC.ToString())

{
    <th>
        <a href="~/persons/index?searchBy=@(ViewBag.CurrentsearchBy)&searchString=@(ViewBag.CurrentsearchString)&sortBy=@(ViewBag.ColumnName)&sortOrder=@(nameof(SortOrderOptions.ASC))">@(ViewBag.DisplayName)</a>
        <i class="fa-solid fa-sort-down"></i>
    </th>
}
else
{
    <th>
        <a href="~/persons/index?searchBy=@(ViewBag.CurrentsearchBy)&searchString=@(ViewBag.CurrentsearchString)&sortBy=@(ViewBag.ColumnName)&sortOrder=@(nameof(SortOrderOptions.ASC))">@(ViewBag.DisplayName)</a>
    </th>

}